In [15]:
import numpy as np
import pandas as pd

cleaning data of MatchAwayTeamInfo.csv and 'MatchHomeTeamInfo.csv'

In [16]:
match_away_team_df=pd.read_csv('MatchAwayTeamInfo.csv')
match_home_team_df=pd.read_csv('MatchHomeTeamInfo.csv')

In [17]:
match_away_team_df.drop_duplicates(inplace=True)
match_home_team_df.drop_duplicates(inplace=True)
match_away_team_df.height.isnull().sum()
match_away_team_df.current_rank.isnull().sum()

np.int64(136)

In [18]:
match_away_team_df['height'].fillna('match_away_team_df.height.np.mean()',inplace=True)
match_home_team_df['height'].fillna('match_away_team_df.height.np.mean()',inplace=True)

C:\Users\mahdi\AppData\Local\Temp\ipykernel_5080\3172799656.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  match_away_team_df['height'].fillna('match_away_team_df.height.np.mean()',inplace=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_5080\3172799656.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'match_away_team_df.height.np.mean()' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  match_away_team_df['height'].fillna('match_away_team_df.height.np.mean()',inplace=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_5080\3172799656.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  match_home_team_df['height'].fillna('match_away_team_df.height.np.mean()',inplace=True)
C:\Users\mahdi\AppData\Local\Temp\ipykernel_5080\3172799656.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'match_away_team_df.height.np.mean()' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  match_home_team_df['height'].fillna('match_away_team_df.height.np.mean()',inplace=True)

In [19]:
match_home_team_df.height.isnull().sum()

np.int64(0)

cleaning data of 'MatchTimeInfo.csv'

In [20]:
match_time_df=pd.read_csv('MatchTimeInfo.csv')
match_time_df.drop_duplicates(inplace=True)
match_time_df.fillna(0,inplace=True)
match_time_df

,match_id,period_1,period_2,period_3,period_4,period_5,current_period_start_timestamp
0,12260075,3463.0,3855.0,0.0,0.0,0.0,1.714511e+09
1,12260076,3032.0,2121.0,2674.0,0.0,0.0,1.714492e+09
2,12260077,2747.0,3525.0,4074.0,0.0,0.0,1.714492e+09
3,12260078,2519.0,2531.0,2121.0,0.0,0.0,1.714578e+09
4,12260080,2616.0,2766.0,0.0,0.0,0.0,1.714483e+09
...,...,...,...,...,...,...,...
20516,12384975,2218.0,4709.0,7140.0,0.0,0.0,1.717248e+09
20517,12385017,3295.0,4903.0,4413.0,0.0,0.0,1.717258e+09
20518,12385869,0.0,0.0,0.0,0.0,0.0,0.000000e+00
20519,12385873,0.0,0.0,0.0,0.0,0.0,0.000000e+00
20520,12386383,0.0,0.0,0.0,0.0,0.0,0.000000e+00

cleaning data of MatchAwayScoreInfo.csv and 'MatchHomeScoreInfo.csv'

In [21]:
match_away_score_df=pd.read_csv('MatchAwayScoreInfo.csv')
match_home_score_df=pd.read_csv('MatchHomeScoreInfo.csv')

In [22]:
match_away_score_df.drop_duplicates()
match_home_score_df.drop_duplicates()

,match_id,current_score,display_score,period_1,period_2,period_3,period_4,period_5,period_1_tie_break,period_2_tie_break,period_3_tie_break,period_4_tie_break,period_5_tie_break,normal_time
0,12260075,1.0,1.0,6.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,12260076,3.0,2.0,6.0,7.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,12260077,2.0,2.0,4.0,7.0,7.0,NaN,NaN,NaN,8.0,5.0,NaN,NaN,NaN
3,12260078,3.0,3.0,5.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,12260080,2.0,2.0,6.0,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20516,12384975,3.0,3.0,1.0,8.0,6.0,NaN,NaN,NaN,9.0,NaN,NaN,NaN,NaN
20517,12385017,2.0,3.0,5.0,7.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20518,12385869,0.0,0.0,3.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20519,12385873,0.0,0.0,2.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20520,12386383,1.0,1.0,6.0,6.0,3.0,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN